.nav {
  height: 96px;
  width: 100vw;
  padding: 12px 36px;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 30%);
  background-color: #ffffff;
}
.img-nav {
  width: 90px;
  height: 80px;
  margin-right: -20rem;
  margin-bottom: 0rem;
}
.parag-nav {
  font-size: 2.6rem;
  color: #fd2c7a;
}
.parag-nav :hover {
  color: #fa2976;
}
.search-nav {
  width: 40rem;
  margin-left: 10rem;
  border-radius: 9px;
}
.btn-form {
  width: 4rem;
  background-color: #fff;
  border: 1px solid #fd2c7a;
  border-radius: 10px;
  margin-left: 0.5rem;
  color: #fd2c7a;
}
.rainbow {
  background-color: #fd2c7a;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  padding: 8px 22px;
  font-weight: 700;
  
}
.rainbow-5:hover {
  background: -webkit-linear-gradient(
    to right,
 
    #d8363a,
    #dd3675,
    #b44593
  );
  background: linear-gradient(to right, #d8367f, #dd36b9, #a31b7e);
  animation: slidebg 2s linear infinite;
}

.btn-bag {
  margin-right: -12rem;
  border: none;
  background-color: #fff;
  margin-left: -13rem;
  color: #787878;
}
.btn-bag :hover {
  -webkit-transform: rotate(360deg) scale(1);
  -moz-transform: rotate(360deg) scale(1);
  -o-transform: rotate(360deg) scale(1);
  -ms-transform: rotate(360deg) scale(1);
  transform: rotate(360deg) scale(1.3);
}
.nav-2 {
  position: absolute;
  width: 100%;
  height: 60px;
  padding-right: 20px;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 30%);
  background-image: linear-gradient(to bottom, #fa2976, #ff2d7c);
  z-index: 200;
}
.nav-toggel {
  color: transparent;
  background-color: transparent;
  margin-bottom: 12px;
  border-color: rgb(255, 255, 255);
}
.nav2-prog1 {
  color: #fff;
  margin-left: 101rem;
  font-size: 19px;
}
.nav2-prog1 :hover {
  color: #fff;
}
