.main-title-pishnahad{
  margin-right: 13rem;
}
.suggest-title {
  margin: 70px;
  text-align: center;
  color: #642262;

}
.line-pink{
  color: #fa2976;
  margin-top: 2.9rem;
  
}
.suggest-table {
  width: 1295px !important;
  margin-right: 283px;
  margin-top: -12px;
}
.home-circles2 {
  width: 140px;
  margin-right: 25px;
  position: relative;
  margin-top: 10px;
}
.home-mask {
  width: 100px;
  position: absolute;
  margin-right: -7.4rem;
  margin-top: 22px;
}
.home-mask-title {
  position: absolute;
  margin-right: 78px;
  margin-top: -0.2rem;
  font-size: 17px;
}
.home-cosniler {
  width: 100px;
  position: absolute;
  margin-right: -7.6rem;
  margin-top: 20px;
}
.home-cosniler-title {
  position: absolute;
  margin-right: 74px;
  margin-top: -0.2rem;
  font-size: 17px;
}
.home-body {
  width: 100px;
  position: absolute;
  margin-right: -7.6rem;
  margin-top: 20px;
}
.home-body-title {
  position: absolute;
  margin-right: 58px;
  margin-top: -0.2rem;
  font-size: 17px;
}
.home-lip{
  width: 100px;
  position: absolute;
  margin-right: -7.4rem;
  margin-top: 20px;
}
.home-lip-title {
  position: absolute;
  margin-right: 50px;
  margin-top: -0.2rem;
  font-size: 17px;
}
.home-palet {
  width: 100px;
  position: absolute;
  margin-right: -7.4rem;
  margin-top: 18px;
}
.home-palet-title {
  position: absolute;
  margin-right: 45px;
  margin-top: -0.2rem;
  font-size: 17px;
}
.home-coco {
  width: 100px;
  position: absolute;
  margin-right: -7.6rem;
  margin-top: 20px;
}
.home-coco-title {
  position: absolute;
  margin-right: 45px;
  margin-top: -0.2rem;
  font-size: 17px;
}
.home-cerita {
  width: 110px;
  position: absolute;
  margin-right: -7.8rem;
  margin-top: 19px;
}
.home-cerita-title {
  position: absolute;
  margin-right: 25px;
  margin-top: -0.2rem;
  font-size: 17px;
}
.home-mac {
  width: 75px;
  position: absolute;
  margin-right: -6.8rem;
  margin-top: 30px;
}
.home-mac-title {
  position: absolute;
  margin-right: 45px;
  margin-top: -0.2rem;
  font-size: 17px;
}
.home-poder {
  width: 100px;
  position: absolute;
  margin-right: -7.5rem;
  margin-top: 18px;
}
.home-poder-title {
  position: absolute;
  margin-right: 35px;
  margin-top: -0.2rem;
  font-size: 17px;
}
.home-dior {
  width: 100px;
  position: absolute;
  margin-right: -7.5rem;
  margin-top: 23px;
}
.home-dior-title {
  position: absolute;
  margin-right: 46px;
  margin-top: -0.2rem;
  font-size: 17px;
}
.home-argan {
  width: 100px;
  position: absolute;
  margin-right: -7.5rem;
  margin-top: 15px;
}
.home-argan-title {
  position: absolute;
  margin-right: 53px;
  margin-top: -0.2rem;
  font-size: 17px;
}
.home-prim {
  width: 100px;
  position: absolute;
  margin-right: -7.5rem;
  margin-top: 20px;
}
.home-prim-title {
  position: absolute;
  margin-right: 53px;
  margin-top: -0.2rem;
  font-size: 17px;
}
.link-p{
  color: black;
}