.offer {
  border: none;
  background-color: #C697D2;
  color: white;
  margin-top: 50px;
  width: 1460px;
  margin-right: 13rem;
  border-radius: 10px;
  height: 290px;
  display: flex;
}
.offer-img {
  width: 140px;
  margin-right: 45px;
  margin-top: 40px;
}
.see-all {
  margin-top: 40px;
  margin-right: 59px;
}
.see-all-link{
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
}
.off1 {
  background-color: white;
  width: 210px;
  height: 260px;
  margin-top: 15px;
  z-index: 2;
  margin-right: 35px;
  border-radius: 10px;
  position: relative;
}
.off1-img {
  position: absolute;
  width: 135px;
  margin-top: 18px;
  margin-right: 39px;
  border-radius: 10px;
}
.off1-txt1 {
  position: absolute;
  margin-top: 190px;
  color: black;
  margin-right: 87px;
}
.off1-span {
  position: absolute;
  background-color: #ce8dd4;
  margin-right: -140px;
  color: white;
  border-radius: 15px;
  width: 40px;
  height: 25px;
  padding-right: 10px;
}
.off1-txt2 {
  position: absolute;
  margin-top: 220px;
  color: rgb(132, 132, 132);
  margin-right: 96px;
  font-size: 15px;
}
.line-price{
  text-decoration: line-through rgb(255, 55, 88) 2px;
}

