.table-main {
  margin: 4rem 15rem;
}
.edit-icon-admin {
  font-size: 30px;
  color: #fd2c7a;
  margin-right: 2rem;

  margin-top: 1rem;
}
.trash-icon-admin {
  font-size: 28px;
  color: #fd2c7a;

  margin-top: 1rem;
}
.h1-admin-product {
  margin-right: 15rem;
  color: #7e377c;
}
.product-admin-container {
  height: 100vh;
  width: 100vw;
  background-color: #fffeff;
}
.img-admin {
  margin-bottom: -55rem;
  width: 40rem;
}
.btn-add-product {
  border: none;
  background-color: #b141adcf;
  margin-right: 68rem;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #fff;
  font-size: 19px;
}
.paginate {
  color: #7e377c;
}
.pagination-style li :hover {
  background-color: #946892;
  color: black;
}
.img-table {
  width: 80px;
  height: 70px;
  margin-left: -5rem;
  margin-right: 2rem;
  border-radius: 10px;
}
.btn-icon{
  background-color: transparent;
  border: none;  
}

/* Modal */
.products-input {
  direction: ltr;
  margin-top: 4px;
}
.products-select {
  margin-top: 4px;
}
.products-btns {
  display: flex;
  justify-content: center;
}
.products-add {
  margin-top: 40px;
  background-color: #FD2C7A !important;
  width: 75px;
  height: 40px;
  border: none !important;
  margin-right: 20px;
}
.products-add:hover {
  background-color: #FD2C7A !important;
}
.products-enseraf {
  width: 75px;
  height: 40px;
  margin-top: 40px;
  background-color: #C065BC !important;
  border: none !important;
  
}
.products-enseraf:hover {
  background-color: #C065BC !important;
}
.text-editor {
  margin-top: 40px;
}
