.about-main{
    margin: 9rem 11rem;
    width: 1500px;
    padding: 40px 40px 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 30%);
    background-color: #ffffff
}
.about-img-contain{
    margin-right: 1rem;
}
.about-img{
    width: 22rem;
    height: 27rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 10px;
}
.about-contain{
    margin-right: 8rem;
    width: 50vw;
}
.about-contain li{
    font-size: 20px;
}
.about-contain h5 {
    margin-top: 3rem;
}
.about-button{
    margin-top: 2rem;
}
.icon-heart-main-a{
    margin-right: 12rem;
}
.icon-heart-about{
    color: #fd2c7a;
    font-size: 2rem;
   
}
.btn-add-about {
    height: 42px;
    width: 210px;
    padding: 0 16px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(to bottom, #fa2976, #ff2d7c);
    cursor: pointer;
    transition: all 0.4s;
    margin-left: 10rem;
}
.btn-counter-about{
    border: none;
    background-color: transparent;
    color: #636363;
}
.btn-counter-main-about{
    margin-right: 24rem;
    margin-left: 2rem;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    padding: 4px;
    color: #636363;
}
.icons-about-footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}
.i-about{
    font-size: 1.5rem;
    color: #666666;
   
    
}