.btn-check-card{
    margin-right: 18rem;
    margin-top: 1rem;
    background-color: #fd2c7a;
    border: none;
    
}
.card-group-main{
    margin: 5rem 0rem;
    margin-right: 7rem;
}
.main-card{
    width: 22rem;
    height: 38.9rem;
}