.go-to-top {
  margin-right: 8.5rem;
  color: #E08B8E;
  font-size: 40px;
  
}
.go-to-top-txt {
  margin-left:9rem;
  margin-right: 0.5rem;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}

